.pagination a {
text-decoration: none;
display: inline-flex;
/* margin: 0; */
}
.reply_count {
    display: inline-flex;
    justify-content: flex-end;
    align-self: flex-end;
    font-size: 90%;
    color: white;
    background-color: #989898;
    padding: 0.03em 0.6em;
    border-radius: 1em;
    opacity: .4;
    color: white;
    text-decoration: none;
    margin-right: .7em;
}
img#site_logo {
  /* width: 100px; */
  /* display: inline-block; */
  vertical-align: middle;
  max-height: 38px;
  margin-right: 5px;
  /* background: gainsboro; */
  /* border-radius: 50%; */
}


body {
  background-color: hsl(0 0% 92% / 1);
}

#header {
  /* width: 100%; */
  /* height: 30px; */
  padding: 0 20px;
  /* background: linear-gradient(to bottom, #424652, #2f364a); */
  /* background: #404451; */
  max-width: 960px;
  margin: auto;
  /* margin-left: 0; */
  display: flex;
  justify-content: space-between;
  /* box-shadow: 0 0 6px #00000075; */
}

div#site_name {/* color: #ffffff; */font-family: arial;/* display: inline-block; *//* font-weight: bold; */font-style: italic;/* vertical-align: middle; */font-size: 24px;letter-spacing: 5px;}

.leftalign {
  /* justify-content: stretch; */
  align-items: center;
  /* align-content: center; */
  display: flex;
}

.details .meta {
  font-size: 12px;
  color: #b6b6b6;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row;
  flex-wrap: wrap;
  overflow: visible;
  /* opacity: .6; */
  display: flex;
}

.avatar{
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  margin-right: 10px;
}
.threadlistitem .avatar {
  /* vertical-align: middle; */
  /* margin-right: 10px; */
}

.threadlistitem .details{
  /* display: inline-block; */
  /* vertical-align: middle; */
  display: flex;
  flex-direction: column;
  /* align-items: end; */
  /* flex-grow: 1; */
  line-height: 1.3;
}

div.copyright {
  font-size: 80%;
  color: #b3b3b3;
  margin: 0.3em 0;
  min-height: .2em;
  display: block;
  text-decoration: none;
  /* vertical-align: baseline; */
}

div#footer {
  margin-top: 0px;
  /* padding: 14px 0px; */
  border-style: solid;
  border-width: 1px 0 0 0;
  border-color: #efefef;
  /* background-color: white; */
}

span.last_commented_date {
  color: #af819a;
}

.meta .user_name {
  /* display: inline-flex; */
  /* width: 90px; */
  /* justify-content: flex-end; */
  color: #606060;
  /* font-weight: bold; */
  text-decoration: none;
  /* margin-right: 5px; */
  /* padding-top: 2px; */
  /* padding-bottom: 2px; */
  white-space: nowrap;
  /* overflow-x: hidden; */
  /* overflow-y: auto; */
  /* overflow: hidden; */
  /* text-overflow: ellipsis; */
  max-width: 16em;
}

.details .title a {
  font-size: 16px;
  text-decoration: none;
  color: #252525;
}

.title {
  margin-bottom: 5px;
}

.threadlistitem {
  margin: 0px 0;
  border-style: solid;
  border-width: 1px 0 0 0;
  /* padding: 14px 17px; */
  border-color: #efefef;
  /* border-radius: 0; */
  /* background: rgb(245 245 245); */
  /* background: linear-gradient(0deg, hsl(0 0% 96% / 1) 0%,  rgba(255,255,255,1) 100%); */
}

.category_name {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 1px 0;
  text-decoration: none;
}

.category_name {
  display: inline-flex;
  background-color: #626778;
  max-width: 60px;
  /* width: 55px; */
  text-align: center;
  padding: 1px 4px;
  /* font-size: 12px; */
  border-radius: 3.5px;
  margin-right: 4px;
  flex-flow: column;
}

.threadlistitem:last-child:not(#editor) {
  /* border-width: 1px 0; */
}

.pagenumber {
  display: inline-block;
  text-decoration: none;
  color: #8e8787;
  border-width: 1px;
  /* border-style: solid; */
  border-radius: 3px;
  padding: 2px 3px;
  font-size: 80%;
  margin: 0;
}


.pagenumber.current {
    background: #626778;
    padding: 2px 4px;
    /* padding-left: 2px; */
    color: white;
}

.pagination {
    /* margin: 6px 0; */
    /* padding: 0 17px; */
    /* margin-left: -3px; */
    /* font-size: 1px; */
}

.threadlistitem > *{/* align-items: stretch; */}

.header {
    /* font-size: 22px; */
    /* margin: .6em 0; */
    /* color: #000000; */
    display: flex;
    justify-items: center;
    align-items: center;
    align-content: center;
    flex-direction: row;
    justify-content: space-between;
    /* padding: 0 17px; */
    /* letter-spacing: 0.03em; */
}


.pagination>.group {
    margin: 0px 6px 6px 0;
    display: inline-flex;
}


.meta > * {
    vertical-align: middle;
    /* display: inline-flex; */
    /* overflow: visible; */
    /* width: 80px; */
    /* max-width: 80px; */
    text-decoration: none;
    justify-content: flex-start;
    /* padding-bottom: 2px; */
    margin-right: .4em;
    /* margin-bottom: 3px; */
}

.details>.post_content {
    /* display: inline-block; */
}

.threadlistitem {
    display: flex;
    align-items: stretch;
    /* align-content: baseline; */
    justify-content: flex-start;
    /* background-color: green; */
    flex-direction: row;
    position: relative;
}


.left {
    /* height: 100%; */
    /* min-width: 63px; */
    /* vertical-align: top; */
    display: flex;
    flex-direction: column;
    justify-content: start;
    /* display: none; */
}

.right {
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    display: flex;
}

.left .avatar {/* margin-right: 12px; */}


.response {
    color: #6dbd00;
    /* width: 70px; */
    justify-content: flex-end;
}

#content {
    display: flex;
    flex-flow: column;
    flex-grow: 1;
    /* max-width: 690px; */
}

body>#content {
    margin-left: 20px;
    margin-right: 20px;
}

.post_content p {
    margin-block-start: .7em;
    margin-block-end: .7em;
    word-break: break-all;
    line-height: 1.6;
}

.post_content p:last-child {
    margin-bottom: 0;
}

.post_content li {
    margin: .7em 0;
    /* line-height: 170%; */
}

.post_content ol, .post_content ul {
    margin: 0 0 1em 0;
    padding-left: 2.8em;
}

.post_content blockquote {
    background: #e2e2c440;
    margin: 2px 0 2px 0;
    padding: .4em .6em;
    border-style: solid;
    border-width: 0 0 0 3px;
    border-color: #caca4c61;
    display: inline-block;
    font-size: 95%;
}


.post_content img {
    /* max-height: 4000px; */
    max-width: 100%;
    /* border-style: none none none dashed; */
    /* border-color: #00000038; */
}

span.floor_num {color: #652929;}

.post_content .videowrapper {
    /* width: 640px; */
    /* height: 480px; */
}

.post_content iframe {
    /* width: 100%; */
    /* height: 100%; */
    max-width: 100%;
    /* max-height: 400px; */
}

.threads {
    color: #3594cc;
}


.subheader {
    font-size: 16px;
    color: #8db4d6;
    /* padding: 0 12px; */
}

.post_content a {
    text-decoration: none;
    color: #0088ff;
    margin-left: 2px;
    margin-right: 2px;
    /* display: inline-block; */
    /* word-wrap: break-word; */
}

.register label {
    min-width: 80px;
    display: inline-block;
    margin: 10px;
}

img.headerbtn {
    width: 36px;
    height: 36px;
    /* margin-left: 12px; */
    /* border-style: dashed; */
    /* border-width: 1px; */
    /* border-color: #00000054; */
    border-radius: 4px;
}

.rightalign {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.rightalign >* {/* align-items: center; *//* display: flex; *//* margin-left: 15px; */}

#header>*>* {
    /* display: inline-block; */
    /* vertical-align: middle; */
    /* text-decoration: none; */
}

#header * {
    /* text-decoration: none; */
}

.post_content {
    margin-bottom: 4px;
    /* padding: 0 12px; */
    font-size: 14px;
    /* display: flex; */
    /* flex-wrap: nowrap; */
    /* flex-direction: column; */
    line-height: 1.5;
}

.leftalign > *, .rightalign > * {
    display: inline-flex;
    align-items: center;
}

.rightalign * {
}

.editor {
    display: flex;
    flex-wrap: wrap;
    /* margin-top: 10px; */
    align-items: flex-start;
}

.editor_left {
    display: flex;
    flex-flow: column;
    margin-right: .7em;
    /* flex-grow: 1; */
    margin-bottom: .7em;
    /* min-width: 400px; */
    /* max-width: 100%; */
    justify-content: stretch;
}

#editor_text {
    /* width: 500px; */
    min-height: 10em;
    max-width: 60em;
    /* width: 100%; */
    display: flex;
    /* align-self: flex-end; */
    padding: 7px;
    resize: both;
    flex-grow: 0;
    font-size: 80%;
    line-height: 150%;
}

.editor_button_row {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 10px;
}

.editor_button_row button, .editor_button_row>a {
    /* margin-left: 5px; */
    padding: 4px 6px;
    font-size: 90%;
    margin-bottom: 6px;
}

#editor_btnsubmit {
    background-color: #d9fbb5;
}

.editor_right {
    display: flex;
    /* width: 100%; */
    border-style: dashed;
    border-width: 1px;
    border-color: #dedede;
    padding: 10px;
    /* flex-grow: 1; */
}

#editor_preview {
    /* margin-left: 15px; */
    /* display: inline-block; */
    max-width: 600px;
    /* flex-grow: 1; */
}

#editor_text:focus {
    outline: none;
}

.invitations > * {
    margin: 0 0 6px 0;
}

.invitation {
    margin: 3px 0;
}

.invitation.inactive {
    text-decoration: line-through;
    color: #bfbfbf;
}

.post_content :not(pre)> code {
    margin: 1px 4px;
    background-color: #e9f3f7;
    padding: 0px 3px;
    border-radius: 3px;
    border-style: solid;
    /* color: black; */
    border-color: #bedaee;
    display: inline-block;
    font-size: 90%;
}

.invitations {
    margin: 1em 0 0 0;
    padding: .7em;
    border-style: dashed;
    border-color: #84848436;
    border-width: 3px;
    /* border-radius: 8px; */
    font-size: 14px;
}

a.title {}

a.threadlist_title {
    color: #23527c;
    margin-left: 0;
    margin-right: 0;
    /* display: block; */
    /* margin-bottom: 1em; */
    /* vertical-align: bottom; */
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 0.01em;
    line-break: anywhere;
    /* display: inline-flex; */
}

.post_content pre {
    background-color: #f1f1f1;
    padding: 2px;
    /* display: inline-block; */
    margin: 0 0 .4em 0;
    /* display: block; */
    white-space: break-spaces;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    font-size: 12px;
    overflow: auto;
    line-height: 1.2;
}


.chosen {
    background-color: #fffff6;
}

.meta .date {
    color: #bfbfbf;
}

.last_commented_date.date {
    color: beige;
}

.last_commented_date {
    color: #b1b1b1;
}

.avatar_outer {
    display: flex;
    position: relative;
}


.lr {
    /* padding: 0 20px; */
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-between;
    /* background-color: white; */
}

#navigator {
    display: flex;
    flex-flow: column;
    /* flex-direction: column; */
    /* align-items: center; */
    max-width: 213px;
    flex-grow: 1;
    align-content: center;
    border-style: none none none solid;
    border-color: #e8e8e8;
    /* margin-left: 15px; */
    padding-left: 15px;
    padding-right: 15px;
    /* width: 200px; */
    /* width: 1900px; */
}

.categories .category_name {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 8px 8px 0px;
    /* max-width: 70px; */
    padding: 3px 5px;
    font-size: 12px;
}

.categories {
    display: flex;
    /* flex-flow: wrap; */
    align-items: flex-start;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    /* width: 80px; */
    opacity: .60;
}

.box {
    /* padding: 10px; */
    /* margin: 10px; */
    /* margin-left: 15px; */
    margin-top: 10px;
    display: flex;
    flex-flow: column;
    /* align-items: center; */
    align-content: center;
    /* opacity: .6; */
    /* padding-left: 5px; */
}
.boxtitle {
    padding: 10px 0 10px;
    display: flex;
    align-items: flex-start;
    flex-flow: column;
    justify-content: flex-start;
    font-size: 15px;
}


.c2 {background-color: #f16666;}

.c4 {
    background-color: #4da0a0;
}

.c5, .c12 {
    background-color: #379447;
}

.c1 {background-color: #72a000;}

.c6 {
    background-color: #30abc7;
}

.c9 {
    background-color: #ad7fca;
}

.c16, .c13, .c14 {background-color: #2274bd;}

.c7 {
    background-color: #ef8aa1;
}

.c17 {
    background-color: #a2a20f;
}

.c11 {
    background-color: #f18bc8;
}

.c3, .c15 {
    background-color: #7698c1;
}

.c13 {
}

.c10 {
    background-color: #d8994a;
}


code {
    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,ubuntu, source code pro, monospace;
    /* line-height: 1.4; */
}

code .k, code .kd {
    color: #0e57fb;
}

code .nf {
    color: #773b24;
}

.threadlistitem#editor {
    border-style: none;
}

#editor_title {
    padding: 7px;
    font-size: 80%;
    display: flex;
    margin-bottom: 10px;
}

.header > .header_title {
    margin-right: 10px;
    display: flex;
    text-decoration: none;
    color: black;
    font-size: 22px;
}

.header > .makepost {
    font-size: 14px;
    border-style: solid;
    border-width: 1px;
    border-radius: .3em;
    padding: 2px 7px;
    color: #ffffff;
    background-color: #6ebf7f;
    border-color: #349640;
    display: flex;
}

.meta .category_name {
    opacity: 0.4;
    /* width: 60px; */
    display: none;
}

.copyright * {
    text-decoration: none;
    /* color: gray; */
    vertical-align: middle;
}

.deleted {
    opacity: 0.3;
}

.outerbox {
    display: block;
    margin: 15px auto 20px auto;
    max-width: 960px;
    background-color: white;
    border-radius: 4px;
    border: #00000030 1px solid;
    overflow: hidden;
    box-shadow: 0 0 6px #0000000a;
}


.post_content br {
    /* height: 3px; */
    display: block;
    content:"";
    margin-top: .5em;
    /* line-height:190%; */
    /* vertical-align:top; */
}

.meta .adminstuff {
    color: #ff5252;
    /* background: #ffe2e2; */
    /* padding: 0.2em; */
    opacity: .2;
}

.meta .user_name:first-child {
    justify-content: flex-start;
    margin-bottom: 0;
}

#editor_text.has_title {
    height: 400px;
}

.edited_by {
    font-size: 10px;
    font-style: italic;
    margin: 0 0 .5em 0;
    opacity: .3;
    text-decoration: none;
    /* text-align: right; */
}

.edited_by * {
    color: black;
    text-decoration: none;
}

.warning {
    background-color: #ffdede;
    padding: 1em 1em;
    border-style: solid;
    border-color: #ffc4c4;
    border-radius: .5em;
    border-width: 0.2em;
}

form.register {
    margin-bottom: 1em;
}

h1 {
    margin: 0.3em 0 .5em 0;
}

body {
    font-family: helvetica neue,Helvetica,Arial,sans-serif;
}

.meta .adminstuff:hover {
    opacity: 1;
}

.adminstuff.edit {
    color: #009800;
}

.post_content hr {
    border-style: solid;
    border-width: 1px 0 0 0;
    margin: .7em 0;
    border-color: #e4e4e4;
}

.rightalign a {
}


.vote_section>* {
    display: inline-flex;
    margin-right: .5em;
    opacity: 0.2;
}

.vote_section {
    display: flex;
    /* margin-top: 0.4em; */
}

.upvote {
    color: #038603;
    padding: 0 .2em;
    /* cursor: pointer; */
}

.downvote {
    color: #dc4b4b;
}

.vote_section .has_vote {
    opacity: 0.6;
}

.vote_section>.enabled:hover {
    opacity: 1.0;
}

.vote_section .enabled:hover {
    opacity: initial;
}

.threadlistitem:only-child:not(#editor) {
    /* border-width: 1px 0; */
}

.self_voted {background-color: #0baf0036;}

.self_voted {}

.leftmost .vote_section {display: flex;flex-direction: column;}

.leftmost {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 7px;
    margin-left: -7px;
    /* width: 2em; */
}

.leftmost .upvote {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.votenumber.triangle {
    font-size: .5em;
    opacity: .6;
}

.thread_contrib .votenumber a {
    display: flex;
}


a {
    text-decoration: none;
    color: #005bac;
}

.editor_button_row a {
    color: #7a9bc3;
}

span.votenumber {}

.meta .upvote {
    cursor: pointer;
    font-size: 130%;
    font-weight: bold;
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    /* display: none; */ /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background-color: rgb(189 140 0 / 5%); */ /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    /* cursor: pointer; */ /* Add a pointer on hover */
    pointer-events: none;
    opacity: 0;
    transition: opacity 5s;
}

#overlay text {}

#overlay_text {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: .5em;
    /* font-size: 1em; */
    background: white;
    padding: 1em;
    color: #000000;
    transform: translate(-50%,-50%);
    box-shadow: 0 0 11px #00000061;
    -ms-transform: translate(-50%,-50%);
    width: 80vw;
    max-width: 600px;
}

#editor_text::placeholder {
    color: gray;
}

a.gotmail {
}

a.gotmail {
    /* color: white; */
    /* background: #ff0000; */
    /* padding: 3px; */
    /* border-radius: 3px; */
}

#footer .lr>*:first-child {
    margin-right: 2em;
}

a.adminstuff {}

.meta .viewcode {
    color: blue;
}

.adminstuff.viewcode {
    color: #185fca;
}


.c404 {
    margin: 80px auto 100px;
    text-align: center;
}

.c404>img {
    height: 200px;
}

.c404 >div {
    text-align: center;
}

.firstline {
    font-size: 130%;
    margin-bottom: 1em;
}

.secondline {
    margin-bottom: 1em;
}

.adminstuff.at_reply {
    color: #5a4b00;
}

.meta.upper {
    margin-bottom: 0.2em;
    align-items: baseline;
}

.threadlistitem.thread_header {
    flex-direction: row-reverse;
}

.thread_header_info>div:not(:first-child) {
    /* text-align: left; */
    margin: 0.5em 0 0;
}

.navigator_userpanel {
    flex-flow: column;
    display: flex;
    /* align-items: flex-end; */
    margin-top: .7em;
    margin-bottom: .7em;
    /* min-width: 10em; */
    /* margin-left: 1em; */
    /* padding-left: 1em; */
    /* margin-left: .8em; */
}

.thread_header_info .brief {
    color: #c5c5c5;
    font-size: 80%;
    display: inline-flex;
    word-break: break-all;
    line-height: 1.6;
}

.thread_header_info .user_name {
    color: #545454;
    /* margin-left: .6em; */
}

.threadlistitem.thread_header {
}

.thread_header .left {
    display: none;
}


* {
    border-width: 1px;
}

.avatar_line {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.post_content p:first-child {
    margin-top: 0em;
}

.post_content blockquote:first-child {
}

.info.warning {
    background-color: #d4f3ff;
    border-color: #bae4f5;
}

h1:not(:first-child) {
    margin-top: .9em;
}

button {
    border-radius: 2px;
}

.userpage_name>span:first-child {
    width: 4.3em;
    display: flex;
    /* margin-bottom: 1em; */
    color: #a7a7a7;
}

.userpage_name {
    /* margin-bottom: 1em; */
    line-height: 210%;
    display: flex;
    flex-flow: wrap;
}

.userpage_name:last-child {
    margin-bottom: 0;
}

.unread {
    background-color: red;
}

.unread {
    background-color: #f2fbff;
}

.meta > a:not(:first-child), .meta>span {
    /* color: #b3b3b3; */
}

.editor_button_row .major {
    padding: 4px 10px;
    margin-left: 6px;
}

.post_content del, .post_content s {text-decoration: none;background-image: linear-gradient(transparent 0.4em,#000000 0.4em,#000000 .6em,transparent .6em);padding: 0 0.1em;margin-left: 0.05em;margin-right: 0.05em;/* background-color: #ff414140; */}

.userpage_name>* {
    /* margin-left: 0; */
    margin-right: .5em;
    display: inline-block;
}

.userpage_lr {
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
    font-size: 14px;
}

.userpage_let:not(:first-child) {
    margin-left: 2em;
}

.userpage_let:first-child {
    max-width: 60%;
}

span.brief {
    flex-shrink: 50;
}

.qtitle * {
    /* margin-right: 6px; */
    margin: 5px 2px;
    line-height: 1.3;
}

a.nlikes {
    color: #ff8100;
}

a.nliked {
    color: #e4b7b7;
}

span.userlist_brief {
    color: #909090;
    font-size: 90%;
}

a.userlist_name {
    color: #3c3c3c;
    margin-right: .5em;
}

.post_content li:last-child {
}

.threadlist_title_youtube img {
    /* height: 1em; */
    /* vertical-align: middle; */
    /* border-style: none; */
    /* opacity: .5; */
}

.meta .vote_section {
    align-items: center;
}

a.copyright,.copyright>a {
    margin-right: .5em;
    color: #9cbcec;
}

.opaque5 {
    opacity: .3;
}

.adminstuff.move_to_category {
    color: #007958;
}

.invitations:first-child {
    margin-top: 0;
}

span.personal_title {
    position: absolute;
    white-space: nowrap;
    background-color: #a3d700;
    color: #fff;
    text-align: center;
    padding: 1px 2px;
    line-height: 12px;
    font-size: 12px;
    border-radius: 3px;
    left: -7px;
    top: -11px;
    /* opacity: .6; */
}

.secondline>p {
    max-width: 500px;
    line-height: 150%;
}

.c49 {
    background-color: #8372de;
}

.rightmost {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: center;
    position: absolute;
    right: 0;
    top: 1.42em;
}

.thread_header_info {}

#content:not(:only-child){
    width: 700px;
}

@media only screen and (max-width: 960px) {
  #content{}
  #content:not(:only-child){}
  #navigator{
    max-width: none;
}
}

span.userpage_username {
    margin-right: .5em;
}


.threadlist {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    /* align-items: stretch; */
    /* align-content: stretch; */
}

.threadlist > * {
    max-width: 100%;
    /* border-style: none; */
}

.headerlink {
    padding: 1em .8em;
    color: white;
    font-size: 14px;
    /* margin-right: .8em; */
}

.box .category_name {}

img.personal_title {
    position: absolute;
    height: 16px;
    left: -8px;
    top: -8px;
}

.choice {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: .5em;
}

.choice span {
    margin-left: .6em;
    color: #616161;
}

.qcat {
    color: #b3b3b3;
}

.question .description {
    margin-bottom: 1em;
}

.unread .conv_title {
    font-weight: bold;
}

a.conv_title {
    color: #1d609a;
}

.conv_delete {
    /* display: none; */
    opacity: .2;
    height: 0px;
    overflow: hidden;
}

.conv_delete .conv_title {
  display: none;
}


button#btn_submit_exam {
    padding: 10px;
}

.question {
    margin-left: .4em;
}

input[type="radio"] {
    width: 1.5em;
    height: 1.5em;
}

.post_content th, .post_content td {
    border-style: solid;
    border-color: gray;
    padding: 4px;
}

.post_content table {border-collapse: collapse;/* display: inline-table; *//* flex-direction: column; *//* overflow-x: hidden; */}

.post_content th {
    background-color: #e4f1ff;
}


.post_content thead tr {
    /* display: block; */
    /* overflow: auto; */
}

.post_content tbody {
    /* display: block; */
    /* overflow: auto; */
}

.header .category_name {
    /* flex-grow: 2; */
    /* flex-flow: nowrap; */
    white-space: nowrap;
    font-size: 14px;
}


.vote_section .has_vote.self_voted {
    opacity: .9;
}

.user_name sup {
    /* top: -0em; */
    font-size: 11px;
    margin-left: 1px;
}

.meta.upper .user_name {
    margin-right: .4em;
}

.c47 {
    background-color: red;
}

.c47 {
    background-color: #4e4e4e;
}

#overlay_text_body {
    text-align: center;
    font-size: 20px;
    margin-bottom: 1em;
}

.quote_section {
    color: #9c9c9c;
}

span.quoting {
    display: block;
    text-align: right;
    font-style: italic;
    color: #b5b5b5;
    font-size: 90%;
    /* margin-top: .5em; */
}

.c46 {
    background-color: #219268;
}

.qboxes {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: flex-start;
    align-items: stretch;
}

.qbox {
    margin: .5em;
    padding: .5em;
    font-size: 12px;
    background: #f6f6f6;
    border-color: #e4e4e4;
    /* border-style: solid; */
    border-radius: 3px;
}

.qmeta {
    color: #828282;
}


.editor_checkbox_row {
    font-size: 13px;
    display: flex;
    margin-bottom: 9px;
    flex-direction: row;
    opacity: .4;
}

.editor_checkbox_row #editor_checkbox {
    margin-right: 4px;
}

::placeholder {
    opacity: .4;
}

.ent_add {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.ent_add * {
    margin-bottom: 10px;
}

.ent_type {
    color: red;
}

textarea {
    font-family: monospace;
    padding: 5px;
}

.threadlist_title_youtube {
    height: 15px;
    border-width: 0;
    /* display: inline-flex; */
    /* vertical-align: middle; */
    opacity: .5;
}

.threadlist_titlecombo {
    display: block;
    /* line-height: 0; */
    line-height: 1;
    margin-bottom: .3em;
}

.tltyw {
    display: inline-flex;
    /* flex-direction: row; */
    /* justify-content: center; */
    vertical-align: bottom;
    /* font-size: 15px; */
}

.avatar_line .avatar {
    /* width: 48px; */
    /* height: 48px; */
}

input[type="text"],input[type="password"] {
    padding: 4px;
    border-radius: 2px;
}

#gpg_commands {
    border: none;
    background: #e6e6c3;
    padding: 10px;
    font-family: monospace;
}

.post_thread_title {
    font-size: 12px;
    margin: 0.4em 0;
    opacity: .65;
}

.quoteuploader {
    opacity: .5;
    font-size: 12px;
    margin: 4px 0 0;
}

.threadlist .quote_section {
    color: #5f5f5f;
    line-height: 1.4;
}

.navigator_quote {
    line-height: 1.4;
    font-size: 12px;
}

.quotebox {
    max-width: 260px;
    font-size: 14px;
    padding: 4px 6px;
    margin: 6px;
    border-style: solid;
    border-color: #c8c8c8;
}


.post_content .parody {
    position: relative;
    text-decoration-line: underline;
    text-decoration-style: dotted;
    text-decoration-color: #666;
    cursor: help;
    background-color: rgba(255, 255, 255, 0);
    color: #666;
    padding: 0 .15em;
}

.post_content mark::after {
    white-space: pre;
    content: " ? ";
    top: -.5em;
    position: relative;
    font-size: 75%;
    text-align: center;
    background-color: #bbb;
    border-radius: 50%;
    width: 14px;
    height: 14px;
    color: #666;
    line-height: 14px;
    cursor: help;
    display: inline-block;
}

.post_content mark:focus::before, .post_content mark:hover::before {
    content: "用词不代表站方立场";
    position: absolute;
    left: 0;
    top: 24px;
    width: 120px;
    border-bottom: 1px dotted black;
    border-radius: 6px;
    background-color: black;
    padding: 5px 0;
    color: #fff;
    text-align: center;
    z-index: 1;
    font-size: 12px;
}

#footer>.lr {
    /* padding: 0 20px; */
}

.c42 {
    background-color: #ad791b;
}

.padded {
    padding: 14px 17px;
}

.weekly_best_votes {
    color: #00b300;
    /* width: 18px; */
    min-width: 16px;
    display: flex;
    margin-right: 4px;
    justify-content: center;
}

.weekly_best {
    font-size: 12px;
    line-height: 1.4;
}

.weekly_best_item {
    margin: 7px 0;
    display: flex;
    flex-flow: row;
}

.weekly_best_title {
    display: flex;
    /* flex-shrink: 1000; */
}


.tablinks .current {
    background: #626778;
    color: white;
    padding: 3px 5px;
    border-radius: 3px;
}

.post_content :not(pre) {
    overflow-wrap: anywhere;
}




.padlr {
    padding-left: 17px;
    padding-right: 17px;
}

.nreplies {
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.foldable {
    max-height: 500px;
    overflow: hidden;
}

.unfold {
    /* background: #ebebeb; */
    background: repeating-linear-gradient(
  45deg,
  #ebebeb,
  #ebebeb 20px,
  #fff991 20px,
  #fff991 40px
);
    font-size: 12px;
    padding: 7px;
    color: #5a5a5a;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
    margin-top: -4px;
    margin-bottom: 5px;
    box-shadow: 0 -3px 10px #0000001a;
}

.hidden {
    display: none;
}

.thread_contrib {
    display: flex;
    align-items: center;
}

.thread_contributer .avatar {
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

.thread_contrib .votenumber {
    margin-right: 0.3em;
    font-size: 15px;
    color: #4ba84b;
}


.not_followed, .followed, .mutualfollow {
    color: white;
    background: #439d43;
    padding: 0 5px;
    border-radius: 4px;
}

.follower_avatar {
    width: 24px;
    height: 24px;
    vertical-align: middle;
    border-radius: 13%;
}


@media only screen and (max-width: 600px) {
  .foldable{
    max-height: 350px;
  }
  #navigator{
    border-style: none;
    padding-left: 8px;
    padding-right: 8px;
  }
  .hidden_mobile{
    display:none;
  }
  .padlr{
    padding-left: 8px;
    padding-right: 8px;
  }
  .rightmost{
    /* display: none; */
  }
  .reply_count{
    padding: 0.05em 0.35em;
    margin-right: .35em;
  }
a.threadlist_title{font-size: 14px;}
img.headerbtn{
  width: 28px;
  height: 28px;
  display: none;
}
.headerlink{

}
.details .meta{
    font-size: 10px;
}
.leftmost{
  margin-right: 3px;
  margin-left: -6px;
}
.padded{
  padding: 7px 8px;
}
  .avatar {
    /* background-color: green; */
    width: 36px;
    height: 36px;
    margin-right: 5px;
  }
  .rightalign >* {
      /* margin-left: 5px; */
  }
  .header{font-size: 18px;flex-flow: wrap;}
  #header{
    padding: 0 7px;
}
.outerbox{
    margin: 8px 0;
}
  .lr{
    /* padding: 0 8px; */
}

.userpage_let:first-child{
    max-width: 100%;
}

a.headerlink{/* margin-left: .5em; */font-size: 12px;padding-right: .3em;padding-left: .3em;}

#site_logo{/* display: none; */margin: 0;height: 26px;}
span.personal_title{
  font-size: 8px;
  padding: 0.3px 1px;
}
}


.header_bkgnd {
    background: #555;
    box-shadow: 0 0 6px #0000000b;
}

a.threadlist_title:hover, a.threadlist_title:active, a.threadlist_title:focus {
    color: #0080ff;
}

.headerlink:hover, .headerlink:focus, .headerlink:active, .headerlink.active {
    background: #ffffff24;
}

.headerblock {
    /* display: inline-block; */
}

.redcircle {
    background: red;
    color: white;
    /* width: 1.5em; */
    /* height: 1.5em; */
    padding: 0.1em 0.4em;
    font-size: 12px;
    font-weight: bold;
    border-radius: 40%;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0.3em;
}

#editor_btnsubmitdelay {
    opacity: 0.5;
    background: #ffffaf;
}

.not_followed {
    background: white;
    color: green;
    border-style: solid;
    border-color: green;
}

.category_name_threadlist {
    color: #949494;
    background: #f1f1f1;
    padding: 1px 3px;
    border-radius: 3px;
}

.search_section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

input#search_term {
    margin-right: 0.3em;
    max-width: 16em;
    width: 100%;
    /* margin-bottom: 0.3em; */
}

.search_section img {
    max-width: 100%;
}

.search_section>* {
    margin-bottom: 0.6em;
    /* margin-top: 0.3em; */
}

.search_section h1 {
    /* letter-spacing: 8em; */
    color: #c79131;
}

.pmspair {
    display: inline-block;
    /* margin: 0.2em 0; */
    font-size: 12px;
}

.pmsresult {
    margin: 0.5em 0;
}

.pmskeyname {
    background: #b9a411;
    color: white;
    padding: 1px 3px;
    border-radius: 3px;
}

.pmsvalue {
    color: #d02a2a;
}

.tag {
    background-color: #4c7150;
    color: white;
    padding: 2px 3px;
    font-size: 12px;
    border-radius: 3px;
    display: inline-block;
}

.taglist {
    margin-bottom: 8px;
    font-size: 12px;
}

.tag>* {
    color: white;
    /* vertical-align: middle; */
}

.taglist>* {
    margin-right: 3px;
}

.adminstuff.favorite {
    color: purple;
}

span.marked {
    background: yellow;
}