{# base template #}

{# include all macros used by project #}
{%import 'macros.html.jinja' as macros with context%}

<!DOCTYPE html>
<html lang="zh" dir="ltr">
<head>
  <meta name="noreferrer" content="no-referrer">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/styles.css?v={{resource_files_hash}}">
  <link rel="stylesheet" href="/css/labnol_youtube.css">
  {%if not is_pincong_org()%}
    <link rel="icon" type="image/png" href="/images/favicon_new_pressed.png">
  {%else%}
    <link rel="icon" type="image/x-icon" href="/images/pc_favicon.ico?c">
  {%endif%}

  <title>{{page_title}} - {{site_name}}</title>
  {%block meta%}{%endblock%}
</head>

{%macro get_colors(k, raw=False)%}
    {%set bc = (u and u[k]) or (t and t.user and t.user[k]) or (g.logged_in and g.logged_in[k]) or False%}
    {%set color = (bc and eat_rgb(bc)) or False%}
  {%if not raw%}{{color or ''}}{%else%}{{bc or ''}}{%endif%}
{%endmacro%}

{%set bc = get_colors('background_color')%}

{%macro color_if(k, prop='background-color', in_css=False)%}
{%set bc = get_colors(k).strip()%}
{%if bc%}
  {%if in_css%}
  {{prop}}:{{bc}};
  {%else%}
  style="{{prop}}:{{bc}};"
  {%endif%}
{%endif%}
{%endmacro%}

{%macro hl(url, name)%}
<a class='headerlink {{'active' if request.full_path.startswith(url)}}' href="{{url}}">{{name}}</a>
{%endmacro%}

{%macro redcircle(number)%}
{%if number%}
<div class="redcircle"><div class="redcircle_inner">{{
  number
}}</div></div>
{%endif%}
{%endmacro%}

<body {{color_if('background_color')}}>
  {%if g.current_user and g.current_user.hide_avatar%}
    <style>
      .left {
        display:none;
      }
    </style>
  {%endif%}

  {%if 0%}
    <style>
      .outerbox {
        background-image:url('/images/pincong_bkgnd.svg');
      }
    </style>
  {%endif%}

  <div class="header_bkgnd" {{color_if('header_background_color')}}>
    {%set eaten = eat_rgb(get_colors('header_background_color', raw=True), raw=True)%}
    {%if eaten and (eaten[0]*0.3+eaten[1]*0.6+eaten[2]*0.1 > 128) %}
      <style>
        .headerlink:hover, .headerlink:focus, .headerlink:active, .headerlink.active{
          background:#00000024;
        }
      </style>
    {%else%}
      <meta name="eaten" content="{{eaten}}">
    {%endif%}

    {%if color_if('header_text_color')%}
      <style>
        .headerlink{
          {{color_if('header_text_color', 'color', in_css=True,)}}
        }
      </style>
    {%endif%}

    <div id="header" class="">
      <div class="leftalign">
        {# left 2 right: logo, [links], search, [uavatar, uname, login/logout] #}
        <a class="headerblock" href="/">
          {%set logourl =
            ('/images/2049bbslogo_clipped_small_pressed.png')
          if not is_pincong_org() else
            '/images/pincong_logo.svg'
          %}
          {%if 0%}<img id="site_logo" src="/images/logo.png" alt="">{%endif%}
          <img id="site_logo" src='{{logourl}}' alt="">
          {#<div id="site_name">{{site_name_header}}</div>#}
        </a>

        <!-- <a class='headerlink' href="/">首页</a> -->
        {{hl('/?sortby=t_c', '新帖')}}
        {{hl('/p/all', '近评')}}
        {{hl('/search', '搜索')}}
      </div>


      <div class="rightalign">

        {%if g.logged_in%}

          {{hl('/n','提醒'~redcircle(g.logged_in.num_notif))}}
          {{hl('/m','私信'~redcircle(g.logged_in.num_unread))}}

          <a class='headerlink' href="javascript:logout()">登出</a>

          {{hl('/u/'~g.current_user.uid, g.current_user.name)}}

          {{macros.avatar(g.logged_in, class='headerbtn', no_decoration=True)}}

        {%else%}

          {{hl('/register', '注册')}}
          {{hl('/login','登录')}}

        {%endif%}

      </div>

  </div>

  </div>

  <div class="outerbox">
    <div class="lr">
      <div id="content" class="">
        {{macros.header()}}
        {%block content%}{%endblock%}
      </div>
      {%block navigator%}
      {%endblock%}
    </div>


    <div id="footer" class="padded">
      <div class="lr">
        <div class="">
          <div class="copyright">
            ©1989 Tsinghua University
          </div>

          <div class="copyright">
            ©2047 Beijing Wudaokou Computing Technology LLC
          </div>

          <div class="copyright">
            版权所有 北京市五道口计算机技术有限公司 地址：北京市海淀区中关村东路1号院3号
          </div>

          <div class="copyright">
            <a href="/t/7110">服务条款</a>
            <a href="/t/7448">隐私声明</a>
            <a rel='noreferrer' href="https://github.com/thphd/2047">GitHub</a>
            <a rel='noreferrer' href="http://line-count.herokuapp.com/thphd/2047">line_count</a>
            {%if 1%}
              {#remove this temporarily. find a better way maybe#}
              <a href="{{
                request.host_url}}qr/https://2047.name{{

                request.full_path[:-1] if request.full_path[-1]=='?' else request.full_path
              }}">二维码分享此页</a>
            {%endif%}
          </div>

          <div class="copyright">
            <a href="/">回到首页</a>
          </div>
        </div>

        <div class="">
          <div class="friendly_link_title copyright">
            友情链接
          </div>
          <div rel='noreferrer' class="copyright">
            {%for item in friendly_links%}
              <a class='copyright' href="{{item.url}}" title={{item.notes}}>{{item.text}}</a>
            {%endfor%}
          </div>

          <div class="copyright">
          </div>

          {%if 1%}
          <div class="copyright">
            <img src="/images/ga.png">
            京公网安备 11010502000728号 京ICP备11027288号
          </div>

          {%endif%}
          <div class="copyright">
            <span>访问者IP {{g.display_ip_address}} </span>
            <a href="/t/7623">为什么显示IP？</a>
            <span class='opaque5'> {{g.get_elapsed()}}ms</span>
          </div>

        </div>

      </div>

    </div>
  </div>

{%macro quote_section(quote)%}
<div class="quote_section">
  <span class='quote'>{{quote.quote}}</span>
  {%if quote.quoting%}<span class='quoting'>——{{quote.quoting}}</span>{%endif%}
</div>
{%endmacro%}


  <div id="overlay" style='opacity:0;'>
    <div id="overlay_text">
      <div id="overlay_text_body">

      </div>
      {{quote_section(get_quote())}}

    </div>
  </div>

  <div id='viewed_target' style='display:none;'>{{viewed_target}}</div>
  <div id='browser_check' style='display:none;'>{{'1' if g.using_browser else ''}}</div>
  <script src="/js/md5.js" charset="utf-8"></script>
  <script src="/js/util.js?v={{resource_files_hash}}" charset="utf-8"></script>

  {# code highlighting #}
  <link rel="stylesheet" href="/highlight/styles/atom-one-light.css">
  <script src="/highlight/highlight.pack.js"></script>
  <script>hljs.registerAliases(['js','javascript'],{languageName:'typescript'});
  hljs.initHighlightingOnLoad();</script>

</body>
</html>
