<!-- all template macros of this project -->

{%macro titlify(u)%}
{%if u.name%}{{u.name}} ({{u.uid}}){%endif%}
{%endmacro%}

{%macro avatar(u, class="", plain=False, show_title=True, no_decoration=False)%}
  {%set uid = u.uid %}
  {%set deco = not no_decoration%}
  {%set pt = deco and show_title and (not g.current_user or not g.current_user.hide_title) and u.personal_title%}
  {%set pp = deco and show_title and (not g.current_user or not g.current_user.hide_title) and u.personal_party%}

  {%set title = titlify(u)%}

  {%set aurl =
    ('/avatar/'~u.uid~'.png'~
      (('?etag='~u.avatar_etag) if u.avatar_etag else ''))

    if u.has_avatar!=False

    else '/images/avatar-max-img.png'%}

  {%if plain%}
    <img title="{{title}}" class="{{class}}" src="{{aurl}}">

  {%else%}
    <a title="{{title}}" class="avatar_outer" href="/u/{{uid}}">{%if pp%}<img class='personal_title' src='/avatar/{{pp}}.png'>{%elif pt%}<span class='personal_title'>{{pt}}</span>{%endif%}<img class="{{class or 'avatar'}}" src="{{aurl}}" alt=""></a>

  {%endif%}
{%endmacro%}

{%macro username(u, class='user_name', href=None, as_link=True)%}
  {%set href = href or '/u/'~ u.uid %}
  {%set watching = '鹿' in (u.name or '')%}
  {%set title = titlify(u)%}

  {%if as_link%}
    <a title="{{title}}" href='{{href}}' class="{{class}}">{%if u.delete%}<s>{%endif%}{{u.name or u.uid}}{%if u.delete%}</s>{%endif%}{%if watching%}<sup>观察</sup>{%endif%}</a>
  {%else%}
    <span title="{{title}}" class="{{class}}">{%if u.delete%}<s>{%endif%}{{u.name or u.uid}}{%if u.delete%}</s>{%endif%}{%if watching%}<sup>观察</sup>{%endif%}</span>
  {%endif%}

{%endmacro%}

{%macro brief(u, class='brief')%}
  <span class='{{class}}'>{{u.brief and u.brief[:80]}}</span>
{%endmacro%}


{%macro mixed_content_list(l)%}
  {%for t in l%}
    {%if t._id.startswith('thread')%}
      {{post_postlist_header_kept(t)}}

    {%else%}
      {{post_postlist_threadless(t)}}

    {%endif%}
  {%endfor%}
{%endmacro%}


{# one line of post #}
{%macro post(p, metas, avatar_user=False, item_id=False, leftmost=False, left=True)%}

{% set _idt = p.tid if 'threadlist' in metas %}
{% set _ide = 'editor' if 'editor' in metas %}
{% set _idp = p._key if 'postlist' in metas %}

{% set _ids = (item_id or _ide or _idt or _idp) %}

<div class="threadlistitem padded{{ ' deleted' if (p.delete and t) else ''}} {{'conv_delete' if p.delete and 'conversation' in metas else ''}} {{'thread_header' if 'thread_header' in metas else ''}} {{'unread' if p.unread else ''}}" id="{{_ids}}">

    {%if 'thread_votes' in metas%}
    <div class="leftmost">

      {%set targ_type = 'thread' if 'thread' in metas else 'post'%}
      {%set targ_id = p.tid if 'thread' in metas else p._key%}
      {%set num_votes = p.votes or 0 %}

      <div class="vote_section enabled">
        <div class="upvote enabled {{'has_vote' if num_votes}}">
          <span class='votenumber triangle'>▲</span>
          <span class="votenumber">{{ num_votes or '' }}</span>
        </div>
      </div>
    </div>
    {%endif%}
    {%if leftmost%}{{leftmost}}{%endif%}

  {%if left%}
  <div class="left">
    {# editor avatar should be current logged in user's #}

    {%if 'threadlist' not in metas or 1%}
    {{avatar(
      avatar_user
      or ('editor' in metas and g.logged_in)
      or p.user
      or p.from_user
      or p.last_user
      or (p.last and 'conversation' in metas and
        (p.last.user if p.last.to_uid==g.logged_in.uid else p.last.to_user))

      or p.last
      or u
      or (p.name and p)
      or g.logged_in
      or {"uid":5132})
    }}
    {%endif%}

  </div>
  {%endif%}

  <div class="right">
    <div class="details">
      {%if caller%}
        {{caller()}}
      {%else%}

      {%if 'upper' in metas%}
        <div class="meta upper">
          {%if 'publisher_upper' in metas%}
            {# publisher #}
            {{username(p.user)}}
          {%endif%}

          {%if 'brief_upper' in metas%}
            {{brief(p.user)}}
          {%endif%}

        </div>
      {%endif%}

      <div class="{{'' if 'editor' in metas else 'post_content'}}">
        {# what's inside dev.post_content #}
        {%if 0%}
        {%else%}
          {% set text = p.content or p.text or p.profile_string or p.name or p.title or (p.last and p.last.content) or '' %}

          {# content is title to a thread #}
          {%if 'threadlist' in metas %}
            <div class='threadlist_titlecombo'>

            <a href="/t/{{p.tid}}" class="threadlist_title">{{'[已标记为删除] ' if p.delete else ''}}{{text}}</a>
            {%if 'link_after_title'%}
              {%if p.youtube%}
                <a class='tltyw' rel='noreferrer' href="https://www.youtube.com/watch?v={{p.youtube}}"><img class='threadlist_title_youtube' src="/images/youtube_small.png" alt=""></a>
              {%endif%}
            {%endif%}

          </div>

          {# content is name of an user #}
          {%elif 'userlist' in metas %}
              {{username(p, class='userlist_name')}}

              {%if g.is_admin%}
              {%if p.invited_by%}
                (由<a href="/u/{{p.invited_by}}">{{p.invited_by}}</a>邀请)
              {%endif%}

              {%if p.ip_addr and g.current_user['uid']==5108%}(from: {{p.ip_addr}}){%endif%}
              {%if p.salt%}(salt:{{p.salt}}){%endif%}

              {%endif%}

              {{brief(p,'userlist_brief')}}


          {# content is an editor #}
          {%elif 'editor' in metas %}
            {{editor('thread/'~p.tid)}}

          {# content is an targeted editor #}
          {%elif 'targeted_editor' in metas %}
            {{editor(p.target)}}

          {# content is link to conversation #}
          {%elif 'conversation' in metas %}
              <a href="/m/{{p.convid}}" class="conv_title">
                {{text}}
              </a>

          {%else%}
            {{(convert_markdown(text)|safe) if not p.delete else ('<s>内容被删除</s>'|safe)}}

          {%endif%}

        {%endif%}

      </div>

      {# if object has been edited #}
      {%if 'display_edit_status' in metas and p.editor and p.t_e %}
        <div class='edited_by'>
          <span>[ 由</span>
          <a href="/u/{{p.editor}}">{{'本人' if p.editor==p.uid else '其他人'}}</a>
          <span>于</span>
          <span>{{format_time_dateonly(p.t_e)}}</span>
          <span>编辑 ]</span>
        </div>
      {%endif%}

      <div class="meta">
        {% set metas = metas or []%}
        {%for m in metas%}

          {%if m=='publisher'%}
            {# publisher #}
            {{username(p.user)}}

          {%elif m=='publisher_conditional'%}
              {# publisher #}
              {%if not p.count%}
              {{username(p.user)}}

                {%if p.mode!='question' %}
                <span>发布了文章</span>
                {%else%}
                <span>发布了问题</span>
                {%endif%}

              {%endif%}

          {%elif m=='publish_date_thread'%}
            {# publish date #}
            <a class="last_commented_date" href="/t/{{p.tid}}">
              {{format_time_relative_fallback(p.t_c)}}
            </a>

          {%elif m=='publish_date_linkto'%}
            {# publish date with a link to original post#}
            <a class="date" href="/p/{{p._key}}">
              {{format_time_dateifnottoday(p.t_c)}}
            </a>

          {%elif m=='vc'%}
            {%if p.vc%}
            {# view count #}
            <span>{{p.vc}} 次浏览</span>
            {%endif%}

          {%elif m=='reply_count'%}
              {%if p.count%}
              {%set url_to_last = get_url_to_post_given_details(p.tid,p.last._key,p.count)%}
              <a class="response" href="{{url_to_last}}">{{p.count}} 个回复</a>
              {%endif%}

          {%elif m=='conversation_with'%}
            {%set sent = 1 if p.last.uid==g.logged_in.uid else 0 %}
            <span>{{"发给" if sent else "来自"}}</span>
            {{username(p.last.to_user) if sent else username(p.last.user)}}

          {%elif m=='conversation_date'%}
            <span>{{format_time_dateifnottoday(p.last.t_c)}}</span>

            {%if not p.delete%}
              <a href="javascript:mark_delete('conversation/{{p.convid}}')" class='adminstuff'>屏蔽对话</a>
            {%else%}
              <a href="javascript:mark_delete('uconversation/{{p.convid}}')" class='adminstuff'>取消屏蔽</a>
            {%endif%}

          {%elif m=='notification'%}
            <span>{{format_time_datetime(p.t_c)}}</span>

          {%elif m=='view_post_code' and can_do_to(g.current_user,'view_code',-1)%}
            <a class='adminstuff viewcode' href="/p/{{p._key}}/code">源码</a>

          {%elif m=='view_thread_code' and can_do_to(g.current_user,'view_code',-1)%}
            <a class='adminstuff viewcode' href="/t/{{p.tid}}/code">源码</a>

          {%elif m=='at_reply' and t and g.logged_in%}
            <a class='adminstuff at_reply' href="javascript:at_reply('{{p._key}}')">@作者</a>

          {%elif m=='link_to'%}
            {%if not t%}
            {#link to original article#}
            <a href="/p/{{p._key}}">/t/{{p.tid}}</a>
            {%endif%}

          {%elif m=='category'%}
            {# category name #}
            {{category_bubble(p)}}

          {%elif m=='last_commenter'%}
            {% if p.lastuser %}
              {# number of comments #}
              {%set url_to_last = get_url_to_post_given_details(p.tid,p.last._key,p.count)%}

              {# last commenter #}
              <a class="user_name" href="{{url_to_last}}">
                {{p.lastuser.name}}
              </a>

              {%if p.mode!='question' %}
              <span>回复了文章</span>
              {%else%}
              <span>回答了问题</span>
              {%endif%}

              {# last commented date #}
              <a class="last_commented_date" href="{{url_to_last}}">
                {{format_time_relative_fallback(p.last.t_c)}}
              </a>

            {%endif%}

          {%elif m=='userpage_meta'%}

            {# register date #}
            <span>{{format_time_dateifnottoday(p.t_c)}}</span>
            <span>uid: {{p.uid}}</span>

            {%if p.nthreads%}
            <a href='/u/{{p.uid}}/t' class="threads">{{p.nthreads}} 个帖子</a>
            {%endif%}

            {%if p.nposts%}
            <a href='/u/{{p.uid}}/p' class="response">{{p.nposts}} 个回复</a>
            {%endif%}

            {%if p.nliked%}
            <a href='/u/{{p.uid}}' class="nliked">点赞 {{p.nliked}} 次</a>
            {%endif%}

            {%if p.nlikes%}
            <a href='/u/{{p.uid}}' class="nlikes">被赞 {{p.nlikes}} 次</a>
            {%endif%}


          {# admin stuff #}
          {%elif m=='delete_thread'%}
            {%if can_do_to(g.logged_in, 'delete', p.uid)%}
              {%if not p.delete%}
              <a class='adminstuff delete' href="javascript:mark_delete('{{'thread/'~p.tid}}')">删除</a>
              {%else%}
              <a class='adminstuff undelete' href="javascript:mark_delete('{{'uthread/'~p.tid}}')">取消删除</a>
              {%endif%}
            {%endif%}
            {%if can_do_to(g.logged_in,'move',p.uid)%}
              <a class='adminstuff move_to_category' href="javascript:move_to_category('{{'thread/'~p.tid}}')">移动</a>
            {%endif%}

          {%elif m=='delete_post'%}
            {%if can_do_to(g.logged_in, 'delete', p.uid) or (t and can_do_to(g.logged_in, 'delete', t.uid))%}
              {%if not p.delete%}
              <a class='adminstuff delete' href="javascript:mark_delete('{{'post/'~p._key}}')">删除</a>
              {%else%}
              <a class='adminstuff undelete' href="javascript:mark_delete('{{'upost/'~p._key}}')">取消删除</a>
              {%endif%}
            {%endif%}

          {%elif m=='edit_thread'%}
            {%if can_do_to(g.logged_in, 'edit', p.uid)%}
              <a class='adminstuff edit' href="/editor?target=edit_thread/{{p.tid}}">编辑</a>
            {%endif%}

          {%elif m=='edit_post'%}
            {%if can_do_to(g.logged_in, 'edit', p.uid)%}
              <a class='adminstuff edit' href="/editor?target=edit_post/{{p._key}}">编辑</a>
            {%endif%}

          {%elif m=='under_vote'%}

            {%set targ_type = 'thread' if 'thread' in metas else 'post'%}
            {%set targ_id = p.tid if 'thread' in metas else p._key%}
            {%set num_votes = p.votes or 0 %}

            {%set can = can_do_to(g.logged_in,'vote',p.uid)%}
            {%set self_voted = p.self_voted or False %}

            <div class="vote_section {{'enabled' if can}}">

              <div class="upvote {{'enabled' if can}} {{'has_vote' if num_votes}} {{'self_voted' if self_voted}}" target="{{targ_type~'/'~targ_id}}">
                ▲ <span class="votenumber">{{ num_votes or '' }}</span>
              </div>

              {%if g.logged_in.uid==5108 and can_do_to(g.logged_in, 'update_votecount', p.uid)%}
                <a href="javascript:update_votecount('{{targ_type}}/{{targ_id}}')">更新数据</a>
              {%endif%}

            </div>

          {%elif m=='message'%}
            <span>由</span>
            {# sender #}
            {{username(p.user)}}

            <span>发送给</span>
            {# receiver #}
            {{username(p.to_user)}}

            {# date #}
            <span>
              {{format_time_dateifnottoday(p.t_c)}}
            </span>

          {%endif%}

        {%endfor%}
      </div>
    {%endif%}
    </div>
  </div>

  {%if 'last_commenter' in metas and p.count %}
  {# small circle indicating num replies #}
  {#
  <div class="rightmost">
    {%set url_to_last = get_url_to_post_given_details(p.tid,p.last._key,p.count)%}
    <a class="reply_count c{{p.cid}}" href="{{url_to_last}}">{{p.count}}</a>
  </div>
  #}
  {%endif%}

  {%if 'conversation' in metas and p.count %}
  {# small circle indicating num replies #}
  <div class="rightmost">
    {%set url_to_last = '/m/'~p.convid%}
    <a class="reply_count c{{p.cid}}" href="{{url_to_last}}">{{p.count}}</a>
  </div>
  {%endif%}

</div>

{%endmacro%}

{# vote button under thread/post #}
{%macro undervote(p, target_type='post')%}
  {%set targ_type = target_type %}
  {%set is_thread = target_type=='thread' %}
  {%set targ_id = p.tid if is_thread else p._key%}
  {%set num_votes = p.votes or 0 %}

  {%set can = can_do_to(g.logged_in,'vote',p.uid)%}
  {%set self_voted = p.self_voted or False %}

  <div class="vote_section {{'enabled' if can}}">

    <div class="upvote {{'enabled' if can}} {{'has_vote' if num_votes}} {{'self_voted' if self_voted}}" target="{{targ_type~'/'~targ_id}}">
      ▲ <span class="votenumber">{{ num_votes or '' }}</span>
    </div>

  {%if can_do_to(g.logged_in, 'update_votecount', p.uid)%}
    {%if g.logged_in.uid==5108%}
      <a href="javascript:update_votecount('{{targ_type}}/{{targ_id}}')">更新数据</a>
    {%endif%}
  {%endif%}
  {%if num_votes and g.logged_in%}
  <a href="/{{targ_type[0]}}/{{targ_id}}/votes">票箱</a>
  {%endif%}

  </div>

{%endmacro%}

{%macro edit_status(p)%}
  {# if object has been edited #}
  {%if p.editor and p.t_c and p.t_e and
    (dfshk(p.t_e) - dfshk(p.t_c) > dttd(seconds=5*60))%}

    <div class='edited_by'>
      <span>( 由</span>
      <a href="/u/{{p.editor}}">{{'作者' if p.editor==p.uid else '其他人'}}</a>
      <span>于</span>
      <span>{{format_time_relative_fallback(p.t_e)}}</span>
      <span>编辑 )</span>
    </div>
  {%endif%}

  {%if p.recovered_google_timestamp%}
    <div class="edited_by">
      <span>( 恢复自谷歌快照 采集于香港时间 {{
        format_time_datetime(p.recovered_google_timestamp)}} )</span>
    </div>
  {%endif%}
{%endmacro%}

{# one line of post, used in postlist #}
{%macro post_postlist(p)%}
{{post_postlist_threadless(p, in_thread=True)}}
{%endmacro%}

{%macro post_postlist2(p)%}
  {{post(p, ['upper','publisher_upper','brief_upper','under_vote','publish_date_linkto','link_to','postlist','at_reply','edit_post','display_edit_status','post','view_post_code','delete_post'])}}
{%endmacro%}

{%macro delete_post(p, mode='post', t=False)%}
{%set targ = ('post/'~p._key) if mode=='post' else ('thread/'~p.tid)%}
{%if can_do_to(g.logged_in, 'delete', p.uid) or (t and can_do_to(g.logged_in, 'delete', t.uid))%}
  {%if not p.delete%}
    <a class='adminstuff delete' href="javascript:mark_delete('{{targ}}')">删除</a>

  {%else%}
    <a class='adminstuff undelete' href="javascript:mark_delete('{{'u'~targ}}')">取消删除</a>

  {%endif%}
{%endif%}
{%endmacro%}

{%macro favorite(p, mode='post')%}
{%set targ = ('post/'~p._key) if mode=='post' else ('thread/'~p.tid)%}
{%set count = '('~p.nfavs~')' if p.nfavs else '' %}
{%if g.logged_in%}
  {%if not p.favorited%}
    <a class='adminstuff favorite' href="javascript:favorite('{{targ}}')">收藏{{count}}</a>

  {%else%}
    <a class='adminstuff favorite' href="javascript:favorite('{{targ}}', true)">已收藏{{count}}</a>

  {%endif%}
{%endif%}
{%endmacro%}

{%macro edit_post(p, mode='post')%}
{%set targ = ('post/'~p._key) if mode=='post' else ('thread/'~p.tid)%}
  {%if can_do_to(g.logged_in, 'edit', p.uid)%}
    <a class='adminstuff edit' href="/editor?target=edit_{{targ}}">编辑</a>
  {%endif%}
{%endmacro%}

{%macro source_post(p,mode='post')%}
{%set targ = ('/p/'~p._key) if mode=='post' else ('/t/'~p.tid)%}
  {%if can_do_to(g.current_user,'view_code',-1)%}
    <a class='adminstuff viewcode' href="{{targ}}/code">源码</a>
  {%endif%}
{%endmacro%}

{%macro contentify(p, foldable=False)%}
  <div class="post_content {{'foldable' if foldable else ''}}">
    {%if not p.delete%}
      {{(convert_markdown(p.content or '')|safe)}}
    {%else%}
      <s>标记为删除</s>
    {%endif%}
  </div>

  {%if foldable%}
    <div class="unfold hidden">
      ↓ 点击展开所有内容 ↓
    </div>
  {%endif%}
{%endmacro%}

{%macro small_title(p, mode='post')%}
  {%set t = p.t if mode=='post' else p%}
  {%set url = '/p/'~p._key if mode=='post' else '/t/'~p.tid%}

  {%if t and t.title %}
    <div class="post_thread_title">
      <a href="{{url}}">
        {%if mode=='post'%}{{
          '回答问题：'if t.mode=='question'else'回复文章：'
        }}{%else%}
          {{'发布问题：' if t.mode=='question'else'发表文章：'}}
        {%endif%}
        {{t.title}}</a>
    </div>
  {%endif%}
{%endmacro%}

{# one line of post, used in postlist without a thread #}
{%macro post_postlist_threadless(p, in_thread=False)%}
  {%call post(p, metas=[], avatar_user=p.user, item_id=p._key)%}

  <div class="meta upper">
    {# publisher #}
    {%if p.user%}
    {{username(p.user)}}
    {{brief(p.user)}}
    {%endif%}
  </div>

  {{small_title(p)}}

  {{contentify(p, foldable=True)}}

  {{edit_status(p)}}

  <div class="meta">
    {{undervote(p, target_type='post')}}

    {#link to post within original article#}
    {# <a href="/p/{{p._key}}">/t/{{p.tid}}</a> #}

    {# publish date with a link to original post#}
    <a class="date" href="/p/{{p._key}}">
      {{format_time_relative_fallback(p.t_c)}}
    </a>

    {%if in_thread%}
      {%if g.logged_in%}
        <a class='adminstuff at_reply' href="javascript:at_reply('{{p._key}}')">@回复</a>
      {%endif%}
    {%endif%}

    {{edit_post(p)}}
    {{favorite(p)}}
    {{source_post(p)}}
    {{delete_post(p, t=in_thread)}}
  </div>

  {%endcall%}
{%endmacro%}

{# one line of post(thread), used in postlist's thread header #}
{%macro post_postlist_header(t, left=False)%}
  {%call post(t, metas=[], left=left)%}
    {%if left==True%}
      <div class="meta upper">
        {{username(t.user) if t.user}}
        {{brief(t.user) if t.user}}
      </div>

      {{small_title(t, mode=='thread')}}
    {%endif%}

    {{contentify(t, foldable=(pagenumber!=1))}}
    {{edit_status(t)}}

    <div class="meta">
      {{undervote(t, target_type='thread')}}

      {# publish date#}
      <a class="date" href="/t/{{t.tid}}">
        {{format_time_relative_fallback(t.t_c)}}
      </a>

      {{view_count(t)}}
      {{edit_post(t, mode='thread')}}
      {{favorite(t, mode='thread')}}
      {{source_post(t, mode='thread')}}
      {{move_thread(t)}}
      {{delete_post(t, mode='thread')}}

      {%if g.logged_in and get_oplog('thread/'~t.tid)%}
        <a href="/oplog/thread/{{t.tid}}" class='adminstuff viewcode'>管理记录</a>
      {%endif%}
    </div>

  {%endcall%}
{%endmacro%}

{#
{%macro post_postlist_header2(p)%}
  {{post(p, ['under_vote','publish_date_thread','vc','delete_thread','edit_thread','display_edit_status','thread','thread_header','view_thread_code'])}}
{%endmacro%}
#}

{# one line of post, used in postlist's thread header, keep the style unchanged #}
{%macro post_postlist_header_kept(t)%}
  {{post_postlist_header(t, left=True)}}
{%endmacro%}

{%macro post_postlist_header_kept2(p)%}
  {{post(p, ['under_vote','publisher','publish_date_thread','delete_thread','edit_thread','display_edit_status','thread','view_thread_code'])}}
{%endmacro%}


{%macro leftmost_vote(t)%}
<div class="leftmost">
  {%set num_votes = t.votes or 0 %}

  <div class="vote_section enabled">
    <div class="upvote enabled {{'has_vote' if num_votes}}">
      <span class='votenumber triangle'>▲</span>
      <span class="votenumber">{{ num_votes or '' }}</span>
    </div>
  </div>
</div>
{%endmacro%}

{# one line of thread, used in threadlist #}
{%macro post_threadlist(t)%}
  {%call post(t, metas=[],
    avatar_user=t.user, item_id=t.tid,
    leftmost=leftmost_vote(t))%}

  {%set tid = t.tid%}
  <div class='threadlist_titlecombo'>

    <a href="/t/{{tid}}" class="threadlist_title">{{
      '[已标记为删除] ' if t.delete else ''
    }}{{
      '↑' if t.t_manual and
        format_time_datetime(t.t_manual)>=format_time_datetime(t.t_hn)
      else ''
    }}{{t.title}}</a>

    {%if t.youtube%}
      <a class='tltyw' rel='noreferrer' href="https://www.youtube.com/watch?v={{t.youtube}}"><img class='threadlist_title_youtube' src="/images/youtube_small.png" alt=""></a>
    {%endif%}

  </div>

  {%set url_to_last = get_url_to_post_given_details(t.tid,t.last._key,t.count or 0)%}

  <div class="meta">
    {{category_bubble(t, class='category_name_threadlist', color_class=False)}}

    {%if 0%}
      {% if t.lastuser%}
        {# number of comments #}

        {# last commenter #}
        {{username(t.lastuser, href=url_to_last)}}


        <a class='last_commented_date' href="{{url_to_last}}">{{'回复了文章' if t.mode!='question' else '回答了问题'}}</a>

        {# last commented date #}
        <a class="last_commented_date" href="{{url_to_last}}">
          {{format_time_relative_fallback(t.last.t_c)}}
        </a>
      {%else%}
        {{username(t.user)}}

        <a class="last_commented_date" href="{{url_to_last}}">
          {{format_time_relative_fallback(t.t_c)}}
        </a>

        {%if t.mode!='question'%}
          <span>发表了文章</span>
        {%else%}
          <span>发布了问题</span>
        {%endif%}

      {%endif%}
    {%endif%}

    {{username(t.user)}}

    {# publish date #}
    <a class="last_commented_date" href="/t/{{tid}}">
      {{format_time_relative_fallback(t.t_c)}}
    </a>

    {%if t.count%}
    {{username(t.lastuser, href=url_to_last)}}

    {# last commented date #}
    <a class="last_commented_date" href="{{url_to_last}}">
      {{format_time_relative_fallback(t.t_u)}}
    </a>
    {%endif%}

    {%if 0%}
      {%if t.lastuser%}
        {{username(t.user)}}
        <!-- <span>{{'发表' if t.mode!='question' else '发布'}}于</span> -->

        {# publish date #}
        <a class="last_commented_date" href="/t/{{tid}}">
          {{format_time_relative_fallback(t.t_c)}}
        </a>
      {%endif%}
    {%endif%}

    {%if t.count %}
      <a class="response" href="{{url_to_last}}">{{t.count}} 个{{'评论'if t.mode!='question' else '回答'}}</a>
    {%endif%}

    {{view_count(t)}}
    {{delete_post(t, mode=='thread')}}
    {{move_thread(t)}}
  </div>

  {%if t.count and 0%}
  {# small circle indicating num replies #}

    <div class="rightmost">
      <a class="reply_count c{{t.cid}}" href="{{url_to_last}}">{{t.count}}</a>
    </div>
  {%endif%}

  {%if t.mvp and t.mvu and t.mv and t.mv>1%}
    <div class="rightmost hidden_mobile">
      <div class="thread_contrib">
        <a class='votenumber' href="/p/{{t.mvp}}">▲{{t.mv}}</a>
        <div class="thread_contributer">
          {{avatar({"uid": t.mvu}, no_decoration=True)}}
        </div>
      </div>
    </div>
  {%endif%}

  {%endcall%}
{%endmacro%}

{%macro view_count(t)%}
{%if t.vc%}
<span>{{t.vc}} 次浏览</span>
{%endif%}
{%endmacro%}

{%macro move_thread(t)%}
{%if can_do_to(g.logged_in,'move',t.uid)%}
  <a class='adminstuff move_to_category' href="javascript:move_to_category('{{'thread/'~t.tid}}')">移动</a>
{%endif%}
{%endmacro%}

{# one line of thread, used in threadlist #}
{%macro post_threadlist2(p)%}
  {{post(p, ['category','last_commenter',
  'publisher_conditional',
  'reply_count', 'vc',
  'n-publisher','publish_date_thread',
  'threadlist','delete_thread','thread_votes','link_after_title'])}}
{%endmacro%}

{# one line of user, used in userpage #}
{%macro post_userpage(p)%}
  {{post(p, [])}}
{%endmacro%}

{# one line of user, used in userlist #}
{%macro post_userlist(u)%}
{%call post(u, metas=[], avatar_user=u)%}
  <div class="post_content">
    {{username(u, class='userlist_name')}}

    {%if g.is_admin%}
    {%if u.invited_by%}
      (由<a href="/u/{{u.invited_by}}">{{u.invited_by}}</a>邀请)
    {%endif%}

    {%if u.ip_addr and g.current_user['uid']==5108%}(from: {{u.ip_addr}}){%endif%}
    {%if u.salt%}(salt:{{u.salt}}){%endif%}

    {%endif%}

    {{brief(u,'userlist_brief')}}

  </div>


  <div class="meta">
    {# register date #}
    <span>{{format_time_relative_fallback(u.t_c)}}</span>
    <span>uid: {{u.uid}}</span>

    {%if u.nthreads%}
    <a href='/u/{{u.uid}}/t' class="threads">{{u.nthreads}} 个帖子</a>
    {%endif%}

    {%if u.nposts%}
    <a href='/u/{{u.uid}}/p' class="response">{{u.nposts}} 个回复</a>
    {%endif%}

    {%if u.nliked%}
    <a href='/u/{{u.uid}}' class="nliked">点赞 {{u.nliked}} 次</a>
    {%endif%}

    {%if u.nlikes%}
    <a href='/u/{{u.uid}}' class="nlikes">被赞 {{u.nlikes}} 次</a>
    {%endif%}

  </div>
{%endcall%}
{%endmacro%}


{# one line of conv, used in convlist #}
{%macro post_conversation(p)%}
  {{post(p, ['conversation','conversation_with','conversation_date','conversation_delete'])}}
{%endmacro%}

{# one line of message, used in messagelist #}
{%macro post_message(p)%}
  {{post(p, ['message'])}}
{%endmacro%}

{%macro array_usernames(arr)%}
  {%for u in arr%}{%if loop.index0%}{%if
    loop.index0==(arr|length-1)
    %}、{%else%}、{%endif%}{%endif%}{{
    username(u)|trim
  }}{%endfor%}
{%endmacro%}

{# one line of notification, used in notification_list #}
{%macro post_notification(p)%}
  {%call post(p, avatar_user=p.from_user, metas=['notification'])%}
  <div class="post_content">
    {%if p.why == 'reply_thread'%}
      {%if not p.from_users%}
        {{username(p.from_user)|trim}}

      {%else%}
        {{array_usernames(p.from_users)}}

      {%endif%}

      <span>在你的</span>
      {%set ts = '问题'if p.mode=='question' else'文章'%}
      {%if not p.urls%}
        <a href="{{p.url}}">{{ts}}：{{p.title}}</a>

      {%else%}
        {%for l in p.urls%}
          {%if loop.index0%}和{%endif%}
          <a href="{{l}}">{{ts}}：{{p.titles[loop.index0]}}</a>
        {%endfor%}

      {%endif%}

      <span>下发表了回复</span>

    {%elif 'at' in (p.why or '')%}
      {%if not p.from_users%}
        {{username(p.from_user)}}

      {%else%}
        {{array_usernames(p.from_users)}}

      {%endif%}

      <span>在</span>
      <a href="{{p.url}}">{{'评论：' if 'post'in p.why else '帖子：'}}{{p.title or p.url}}</a>
      <span>中 @ 了你</span>

    {%elif p.why=='follow'%}
      {%if not p.from_users%}
        {{username(p.from_user)}}
      {%else%}
        {{array_usernames(p.from_users)}}

      {%endif%}
        关注了你
    {%else%}
      <span>unknown reason</span>
    {%endif%}
  </div>

  <div class="meta">
    <span class=date>
      {{format_time_datetime(p.t_c)}}
    </span>
  </div>

  {%endcall%}
{%endmacro%}

{# one line of editor, used in postlist #}
{%macro post_postlist_editor(p)%}
  {{post(p, ['editor'])}}
{%endmacro%}

{# one line of targeted editor #}
{%macro post_targeted_editor(p)%}
  {{post(p, ['targeted_editor'])}}
{%endmacro%}

{%macro category_bubble(c, class='category_name',color_class=True)%}
  {# category name #}
  <a class="{{class}} {{'c'~c.cid if color_class}}" href="/c/{{c.cid}}" title="{{c.brief}}">
    {{c.cname if c.cname else c.name}}
    {%if 0 and not(c.cname)%}
      <br>
      {{c.count}}
    {%endif%}
  </a>
{%endmacro%}

{%macro link_bubble(linkobj)%}
  {# category name #}
  <a class="category_name" href="{{linkobj.url}}" title="{{linkobj.notes}}">
    {{linkobj.text}}
    {%if 0 and not(c.cname)%}
      <br>
      {{c.count}}
    {%endif%}
  </a>
{%endmacro%}

{%macro editor(target, content=None, title=None, mode=None, has_title=False)%}
  <meta id="editor_target" _target="{{target}}">
  <div class="editor" id="editor_inline">
    <div class="editor_left">
      {%if has_title%}
        <input placeholder="标题" type='text' id="editor_title" value="{{title if title}}">

        <div class="editor_checkbox_row">
          <input type="checkbox" id='editor_checkbox' {{'checked' if mode=='question' else ''}}><span>作为问题（评论按赞排序）</span>
        </div>

      {%endif%}
      <textarea placeholder="支持markdown语法，拖动右下角缩放" id="editor_text" class="{{'has_title' if title else ''}}">{{content if content}}</textarea>



      <div class="editor_button_row">
        <button class="major" type="button" id="editor_btnpreview">预览</button>
        <button class='major' type="button" id="editor_btnsubmit">提交</button>
        {%if g.logged_in.delay_send%}<button class='major' type="button" id="editor_btnsubmitdelay">延时</button>{%endif%}

        <a href="/t/7140" target='_blank' rel='noreferrer'>语法参考</a>
        <a href="https://imgur.com/upload" target="_blank" rel='noreferrer'>传图</a>

        <button type="button" id="editor_quote" title='引用文字'>“</button>
        <button type="button" id="editor_code" title='插入程序代码'>code</button>
        <button type="button" id="editor_image" title='插入图片'>img</button>
        <button type="button" id="editor_link" title='简单链接'>{{'<>'}}</button>
        <button type="button" id="editor_link_label" title="文字链接">[ ]( )</button>
        <button type="button" style='font-weight:bold;' id="editor_strike" title='删除线'><s>S</s></button>
        <button type="button" style='font-weight:bold;font-style:italic;' id="editor_italic" title='斜体'>I</button>
        <button type="button" style='font-weight:bold;' id="editor_bold" title='加粗'>B</button>


      </div>
    </div>
    <div class="editor_right" id="editor_right">
      <div class="post_content" id="editor_preview">

      </div>
    </div>
  </div>

  <script type="text/javascript">
  //https://developer.mozilla.org/en-US/docs/Web/API/WindowEventHandlers/onbeforeunload
  window.addEventListener('beforeunload', function (e) {
    if(geid('editor_text').value.trim()!=''){
      // Cancel the event
      e.preventDefault(); // If you prevent default behavior in Mozilla Firefox prompt will always be shown
      // Chrome requires returnValue to be set
      e.returnValue = '';
    }
  });
  </script>
{%endmacro%}

{# titled header #}
{%macro header()%}
  {%if page_title and not hide_title%}
    <div class="padded">
      {%if t%}
        <div class="taglist">
          {%if t.tags%}
            {%for tag in t.tags%}
              <div class='tag'>
                <a href="/tag/{{tag}}">{{tag}}</a>
                {%if can_do_to(g.current_user, 'edit', t.uid)%}
                <a href="javascript:delete_tag({{t.tid}},'{{tag}}')"
                  title='删除标签'>×</a>
                {%endif%}
              </div>
            {%endfor%}
          {%endif%}
          {%if can_do_to(g.current_user, 'edit', t.uid)%}
            <a class='tagadd' href="javascript:add_tag({{t.tid}})">添加标签</a>
          {%endif%}
        </div>
      {%endif%}

      <div class="header">
        <a class="header_title" href="{{
          (request.full_path[:-1] if request.full_path[-1]=='?' else request.full_path)
        }}">{{page_title}}</a>

        {{category_bubble(t.category) if (t and t.category) else ''}}

        {%if g.logged_in and category%}
        <a class='makepost' href="/editor?target=category/{{category.cid}}">发新帖</a>
        {%endif%}

        {%if g.logged_in and categories and not category%}
        <a class='makepost' href="javascript:alert('请在右边分类列表中选择一个分类（手机用户请翻到页面最下方）')">发新帖</a>
        {%endif%}

        {%if can_send_message%}
        <a class='makepost' href="javascript:send_new_message()">写私信</a>
        {%endif%}
      </div>
    </div>
  {%endif%}

  {%if page_subheader%}
    <div class="subheader post_content padlr">
      {{convert_markdown(page_subheader)|safe}}
    </div>
  {%endif%}

{%endmacro%}

{# pagination #}
{%macro paginate(pagination, class='')%}
{%if pagination.button_groups%}
  <div class="pagination {{class}}">

    {%for group in pagination.button_groups%}
    <div class="group">
      {%for item in group%}{# item -> [label, link, selected] #}

        {%if item[1]%}
        <a href="{{item[1]}}" title="{{item[3]}}">
          <div class="pagenumber {{' current' if item[2] else ''}}">{{item[0]}}</div>
        </a>
        {%else%}
        <div class="pagenumber {{' current' if item[2] else ''}}">{{item[0]}}</div>
        {%endif%}

      {%endfor%}
    </div>
    {%endfor%}
  </div>
{%endif%}
{%endmacro%}
