{%extends 'threadlist.html.jinja'%}
{%block content%}

{%if t%}{# if there is a thread object #}
<div class="threadlist">
  {{macros.post_postlist_header(t)}}
</div>
{%endif%}

{%if t and t.count%}
<div class="padlr">
  <div class='nreplies'>
    {{t.nreplies}}个{{'回答'if t.mode=='question' else '评论'}}
  </div>
</div>
{%endif%}

{{macros.paginate(pagination, class='padlr')}}

<div class="threadlist">

  {%for p in postlist%}
    {%if t%}
      {{macros.post_postlist_threadless(p, in_thread=t)}}

    {%else%}
      {{macros.post_postlist_threadless(p)}}

    {%endif%}
  {%endfor%}

</div>

{{macros.paginate(pagination, class='padlr')}}


{%if t and g.logged_in%}
  {{macros.post_postlist_editor(t)}}
{%endif%}

{%endblock%}

{%block navigator%}
<div id="navigator" class="">

  {%if t%}
    <div class="box navigator_userpanel">

      <div class="boxtitle">
        发起人
      </div>
      {# publisher #}
      <div class="thread_header_info">
        <div class="avatar_line">
          {{macros.avatar(t.user, show_title=False)}}
          {{macros.username(t.user)}}

        </div>

        <div class="">
          <span class='brief'>{{t.user.brief}}</span>
        </div>
      </div>

    </div>

    {%set upt = get_user_picked_threads(t.uid)%}
    {%if upt%}
    <div class="box">
      <div class="boxtitle">
        同一作者
      </div>
      <div class="navigator_quote">
        {{list_threads(upt)}}
      </div>
    </div>
    {%endif%}

  {%endif%}

</div>
{%endblock%}
