{%extends 'base.html.jinja'%}
{%block content%}

<div class="padded">

  <form class="register">

    <label>用户名</label>
    <input type="text" id="username" value="">
    <br>
    <label>密码</label>
    <input type="password" id="password" value="">
    <br>
    <label>再输入一次</label>
    <input type="password" id="password2" value="">
    <br>
    <label>邀请码</label>
    <input type="text" id="invitation" value="{{invitation}}">
    <br>
    <label></label>
    <button type="button" id="register">注册</button>
  </form>
  <br>

  <div class="post_content info warning">
    {{invitation_info|safe}}
  </div>
  <div class="post_content warning">
    {{register_warning|safe}}
  </div>
  <div class="post_content info warning">
    {{register_warning2|safe}}
  </div>

  <div class="post_content info warning">
    {{cant_login_info|safe}}
  </div>

  <div class="post_content warning">
    {{password_warning|safe}}
  </div>


  <div class="post_content info warning">
    {{public_key_info|safe}}
  </div>
</div>


{%endblock%}
