{%macro switchy_tabs(tabs=[], index=0)%}
{%set id = get_random_hex_string(6)%}
{%set tablen = tabs|length %}

  <div class="tablinks">
    {%for tab in tabs%}
      <a class="tablink_{{id}} {{'current' if loop.index0==index else ''}}"
      href="javascript:void(0)"
      >{{tab[0]}}</a>
    {%endfor%}
  </div>

  <div class="undertab">

  {%for tab in tabs%}
    <div class="undertab_{{id}}" style="{{'' if loop.index0==index else 'display:none;'}}">
      {{tab[1]}}
    </div>
  {%endfor%}
  </div>

  <script type="text/javascript">
window.addEventListener('load', (event)=>{
var tabs=gebcn(document)('undertab_{{id}}')
var tablinks=gebcn(document)('tablink_{{id}}')
// print(tabs, tablinks)

function k(i){
  var tab = tabs[i];
  var tablink = tablinks[i];
  tablink.onclick = ()=>{
    foreach(tabs)(e=>{e.style.display='none'})
    foreach(tablinks)(e=>{e.classList.remove('current')})
    tab.style.display=''
    tablink.classList.add('current')
  }
  tablink.onmouseenter=tablink.onclick
}
for(var i=0;i<tabs.length;i++){k(i)}
})
  </script>
{%endmacro%}



{%macro list_users(wb)%}
  <div class="weekly_best">
    {%for i in wb%}
    <div class="weekly_best_item">
      <div class='weekly_best_votes'>{{i.n or ''}}</div>
      <div class='weekly_best_title'>
        {{macros.username(i.user)}}
      </div>
    </div>
    {%endfor%}
  </div>
{%endmacro%}


{%macro list_threads(wb) %}
<div class="weekly_best">
  {%for i in wb%}
    {%if 1%}
      <div class="weekly_best_item">
        <div class='weekly_best_votes'>{{i.amv or ''}}</div>
        <div class='weekly_best_title'>
          {%set url = ('/p/'~i.mvp) if (i.mv or 0) > (i.votes or 0) else ('/t/'~i.tid)%}
          <a href="{{url}}">{{i.title}}</a>
        </div>
      </div>
    {%endif%}
  {%endfor%}
</div>
{%endmacro%}



{%extends 'base.html.jinja'%}
{%block content%}

<div class="hidden_mobile">
  {{macros.paginate(pagination, class='padlr')}}
</div>

<div class="threadlist">
  {%for t in threadlist%}
    {{macros.post_threadlist(t)}}
  {%endfor%}
</div>

{{macros.paginate(pagination, class='padlr')}}


{%endblock%}

{%block navigator%}
<div id="navigator" class="">

  {%if categories%}

  <div class="box">
    <div class="boxtitle">
      分类列表
    </div>

    <div class="categories">
      {%for c in categories%}
      {{macros.category_bubble(c)}}
      {%endfor%}
    </div>
  </div>

  {%endif%}

  <div class="box">
    <div class="boxtitle">
      语录
    </div>
    <div class="navigator_quote">
      {%import 'base.html.jinja' as base with context%}

      {{base.quote_section(get_quote())}}
    </div>
  </div>

  {%if common_links %}
  <div class="box">
    <div class="boxtitle">
      常用链接
    </div>
    <div class="categories">
      {%for l in common_links%}
      {{macros.link_bubble(l)}}
      {%endfor%}
    </div>

  </div>

  {%endif%}



  <div class="box">
    <div class="boxtitle" title="按照被点赞的次数">
      最佳帖文
    </div>
    <div class="navigator_quote">
      {{switchy_tabs([
        ['三日',list_threads(get_weekly_best(0, 3, n=15))],
        ['本周',list_threads(get_weekly_best(0, 7, n=15))],
        ['本月',list_threads(get_weekly_best(7, 30, n=15))],
        ['上月',list_threads(get_weekly_best(30, 60, n=15))],
        ], index=random.randint(0,5)%4)}}
    </div>
  </div>

  <div class="box">
    <div class="boxtitle" title='按照被点赞的次数'>
      高赞用户
    </div>
    <div class="navigator_quote">
      {{switchy_tabs(tabs=[
        ['三日',list_users(get_weekly_best_user(0,3,n=20))],
        ['本周',list_users(get_weekly_best_user(0,7,n=20))],
        ['本月',list_users(get_weekly_best_user(7,30,n=20))],
        ['上月',list_users(get_weekly_best_user(30,60,n=20))],
        ], index=random.randint(0,5)%4)}}
    </div>
  </div>

</div>

{%endblock%}
