{%extends 'base.html.jinja'%}
{%block content%}

<div class="threadlist">
  {%call macros.post(u,[])%}

  <div class="userpage_lr">
    <div class="userpage_let">
      <div class='userpage_name'>
        <span>用户名</span>

        <span class='userpage_username'>{{macros.username(u, class='', as_link=False)}}{{'（已封禁于 '~format_time_dateifnottoday(u.t_d)~'）'if u.delete and u.t_d else ''}}</span>

        {%if g.logged_in%}
          <a href="/editor?target=username/{{u.name}}">发私信给ta</a>
          {%if u.stats.ifollowedhim%}
            {%if u.stats.hefollowedme%}
            <a class='mutualfollow' href="javascript:follow({{u.uid}}, false)">互相关注</a>
            {%else%}
            <a class='followed' href="javascript:follow({{u.uid}}, false)">已关注</a>
            {%endif%}
          {%else%}
            {%if u.uid!=g.selfuid%}
            <a class='not_followed' href="javascript:follow({{u.uid}}, true)">关注</a>
            {%endif%}
          {%endif%}

        {%endif%}

        {%if can_do_to(g.logged_in, 'add_alias', u.uid)%}
        <a href="javascript:add_alias('{{u.name}}')" class='adminstuff delete'>链接老账户</a>
        {%endif%}

        {%if not u.delete and can_do_to(g.logged_in, 'ban_user', u.uid)%}
        <a href="javascript:ban_user({{u.uid}})" class="adminstuff delete">封禁</a>
        {%endif%}
        {%if u.delete and can_do_to(g.logged_in, 'ban_user', u.uid)%}
        <a href="javascript:ban_user_reverse({{u.uid}})" class="adminstuff delete">解除封禁</a>
        {%endif%}

      </div>

      {%if u.alias%}
      <div class="userpage_name">
        <span>已关联至</span><a href="/u/{{u.alias.uid}}">{{u.alias.name}}</a>
      </div>
      {%endif%}

      <div class="userpage_name">
        <span>UID</span>
        <span>{{u.uid}}</span>
        {%if u.admin%}<span title='管理员'>&nbsp;#&nbsp</span>{%endif%}
      </div>

      <div class="userpage_name">
        <span>注册时间</span>
        <span>{{format_time_datetime(u.t_c)}}</span>
      </div>
      <div class="userpage_name">
        <span>个人简介</span>
        <span>{%if u.brief %}{{u.brief}}
        {%else%}（个人简介暂无）
        {%endif%}</span>
      </div>

      {%if u.public_key%}
      <div class="userpage_name">
        <span>公钥</span><a href="/public_key/{{u.name}}">/public_key/{{u.name}}</a>{%if u.pgp_login%}<span>(已验证)</span>{%endif%}
      </div>
      {%endif%}

      {%if u.url %}

      <div class="userpage_name">
        <span>URL</span>
        <a href="{{u.url}}" rel='noreferrer' title="本站不审查链接内容，点击链接造成的一切后果需用户自行承担">{{u.url}}</a>
      </div>
      {%else%}
      {%endif%}

    </div>

    <div class="userpage_let">

      <div class="userpage_name">
        <span>发文</span><a href="/u/{{u.uid}}/t">{{u.stats.nthreads}} 篇 {%if u.stats.nthreads%}(点击查看){%endif%}</a>
      </div>
      <div class="userpage_name">
        <span>评论</span><a href="/u/{{u.uid}}/p">{{u.stats.nposts}} 条 {%if u.stats.nposts%}(点击查看){%endif%}</a>
      </div>

      <div class="userpage_name">
        <span>收到赞</span><span>{{u.stats.nlikes or 0}}</span>
      </div>
      <div class="userpage_name">
        <span>送出赞</span><span>{{u.stats.nliked or 0}}</span>
        {%if u.stats.nliked%}
          <a href="/u/{{u.uid}}/upvoted">(点击查看内容)</a>
        {%endif%}
      </div>

      <div class="userpage_name">
        <span>收藏了</span><a href="/u/{{u.uid}}/favorites">{{u.nfavs or 0}} 条内容 {%if u.nfavs%}(点击查看){%endif%}</a>
      </div>

      <div class="userpage_name">
        <span>被收藏</span><span>{{u.nfaveds or 0}} 次</span>
        {%if u.nfaveds%}
          <a href="/u/{{u.uid}}/t?sortby=nfavs">(文)</a>
          <a href="/u/{{u.uid}}/p?sortby=nfavs">(评)</a>
        {%endif%}
      </div>

      <div class="userpage_name">
        <span>关注了</span><a href='/u/{{u.uid}}/fo'>{{u.nfollowings}} 人</a>
        {%for u in u.stats.followings[:5]%}{{
          macros.avatar(u.user, class='follower_avatar', no_decoration=True)
        }}{%endfor%}
      </div>

      <div class="userpage_name">
        <span>关注者</span><a href='/u/{{u.uid}}/fr'>{{u.nfollowers}} 人</a>
        {%for u in u.stats.followers[:5]%}{{
          macros.avatar(u.user, class='follower_avatar', no_decoration=True)
        }}{%endfor%}
      </div>

      <div class="userpage_name">
        <span>资料浏览</span><span>{{u.vc or 0}} 次</span>
      </div>

    </div>
  </div>


  {%endcall%}

  {{macros.mixed_content_list(sc_ts)}}

  {%if g.is_admin%}
    <div class="padlr">
      <span>invitation:</span> <a href='/invitation/{{u.invitation}}'>{{u.invitation}}</a>
    </div>
  {%endif%}
</div>

{%if user_is_self%}
<div class='post_content'><hr></div>
{%endif%}

<div class="threadlist padded">
  {%if user_is_self and updateable_personal_info%}
    <div class="invitations">
      <div class="invitation_list_title">
        修改个人资料
      </div>

      <div class="register" id="update_personal_info">
        {%for item, explain in updateable_personal_info%}
          <label>{{explain}}</label>
          <input type="text" id="{{item}}" value={{g.logged_in[item] or ''}}>
          <br>
        {%endfor%}

        <button type="button" id="button_update_personal_info">修改个人资料</button>
      </div>
    </div>
  {%endif%}

  {%if user_is_self%}
  <div class="invitations">
    <div class="invitation_list_title">
      上传头像
    </div>

    <div class="post_content">
      <blockquote>
        （图片限1MB，支持透明度，自动裁剪为方形，上传后由于浏览器缓存原因，不会立即起作用，请 Ctrl-F5 绕开浏览器缓存，不同浏览器绕开缓存方式不同，可参考<a href="https://en.wikipedia.org/wiki/Wikipedia:Bypass_your_cache#Bypassing_cache">这里</a>）
      </blockquote>
    </div>

    {{macros.avatar(u, plain=True)}}

    <div class="register" id="update_personal_info">
      <form>
        <input type="file" id="file_selector" name="avatar">
        </form>

      <button type="button" id="button_upload">上传</button>
    </div>
  </div>
  {%endif%}

  {%if (invitations!=None)%}
  <div class="invitations" id='invitation_list'>
    <div class="invitation_list_title">
      我的邀请码（生成邀请码派给别人，让别人也可以注册2047）
    </div>
    <div class="invitation_list" >

      {{macros.paginate(pagination)}}
      {%for i in invitations%}
      <div class="invitation{{'' if i.active else ' inactive'}}">
        <a href="/register?code={{i._key}}">{{i._key}}</a>
        <span>{{format_time_datetime(i.t_c) if i.t_c}}</span>
        <span>{{'未使用' if i.active else '已使用'}}</span>
        {%if i.users%}
          <a href="/u/{{i.users[0].uid}}">{{i.users[0].name}}</a>
        {%endif%}
      </div>
      {%endfor%}
      {{macros.paginate(pagination)}}

    </div>
    <button type="button" onclick='generate_invitation_code()'>生成邀请码</button>
  </div>
  {%endif%}

  {%if user_is_self%}
  <form class="register invitations">
    <div class="invitation_list_title">
      修改当前账户的密码（如果当前账户没有密码才留空，如果有密码必须输密码）
    </div>
    <label>用户名</label>
    <input type="text" id="username" value="{{g.logged_in.name}}" disabled="true">
    <br>
    <label>原密码</label>
    <input type="password" id="old_password" value="" placeholder="（若没有则留空）">
    <br>
    <label>新密码</label>
    <input type="password" id="new_password" value="">
    <br>
    <label>再输入一次</label>
    <input type="password" id="password2" value="">
    <br>
    <button type="button" id="change_password">修改密码</button>
  </form>

  <div class="post_content warning">
    {{password_warning|safe}}
  </div>
  <div class="post_content info warning">
    {{public_key_info|safe}}
  </div>

  {%endif%}
</div>

{%endblock%}
